<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qasas.sharenote" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".universityAndCourseSelector"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".universityInfo"
            android:label="@string/title_activity_university_info"
            android:parentActivityName=".universityAndCourseSelector" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.qasas.sharenote.universityAndCourseSelector" />
        </activity>
        <activity
            android:name=".semesterList"
            android:label="@string/title_activity_semester_list"
            android:parentActivityName=".universityInfo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.qasas.sharenote.universityInfo" />
        </activity>
        <activity
            android:name=".notesList"
            android:label="@string/title_activity_notesl" >
        </activity>
        <activity
            android:name=".LauncherActivicty"
            android:label="@string/title_activity_launcher_activicty" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
